@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=Poppins:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body{
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.6s ease;
}
.navbar.sticky {
  padding: 15px 0;
  border-radius: 0 0 40px 40px;
  background-color: #11101d;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .play img {
  width: 40px;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}
.navbar .menu li a {
  display: block;
  color: #11101d;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.5s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a {
  color: #fff;
}
.navbar.sticky .menu li a:hover {
  color: crimson;
}
/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* home section styling */
.home {
  display: flex;
  background: url("./images/4.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text1 {
  font-size: 27px;
}
.home .home-content .text2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text3 span {
  color: crimson;
  font-weight: 500;
}
.home .home-content .social{
  width: 305px;
  align-items: center;
  border-radius: 30px;
  background: #fff;
}
.home .home-content a {
  padding: 15px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.home .home-content a .fa-facebook {
  color: #1776f2;
}
.home .home-content a .fa-twitter {
  color: #00acee;
}
.home .home-content a .fa-linkedin {
  color: rgb(40, 103, 178);
}
.home .home-content a .fa-github{
  color: rgb(17, 17, 17);
}
.home .home-content a:hover {
  color: crimson;
  transition: all 0.6s ease;
}
.home .home-content .resume {
  margin-top: 20px;
  justify-content: center;
  width: 220px;
  margin-left: 40px;
  text-align: center;
  background:#fff;
  border-radius: 30px;
  transition: all 0.6s ease-in-out;
}
.home .home-content .resume:hover{
  border-radius: 12px;
  background-color: crimson;
}
.home .home-content .resume a{
  color: #000;
  transition: all 0.4s ease-in-out;
}
.home .home-content .resume:hover a{
  color: #fff;
}
.home .home-content .resume a span{
  font-size: 33px;
}
.home .home-content .resume a i{
  font-size: 33px;

}

/* all similar styling code */
section {
  padding: 100px 0;
}
.about,
.services,
.skills,
.teams,
.contact {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
/* .services .serv-content, */
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -13px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* about section styling */

.about .title::after {
  content: "who i am";
}
.about .about-content .column-left {
  width: 45%;
}
.about .about-content .column-left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
}
.about .about-content .column-right {
  width: 55%;
}
.about .about-content .column-right .text {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .details span {
  color: crimson;
  font-size: 20px;
  font-weight: 800;
  font-family: "Ubuntu", sans-serif;
}
.about .about-content .read {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top:20px;
  background-color: #11101d;
  width: 10.5rem;
  border-radius:30px;
  height: 2.5rem;
  color: #fff;
  font-size: 23px;
}
.about .about-content .read:hover{
  color: #11101d;
  background:none;
  border: 2px solid crimson;
}

/* skills section styling */
.skills .title::after {
  content: "what i know";
}
.circle{
  margin-left: 20px;
}
.outer {
  height: 160px;
  width: 160px;
  border-radius:50%;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.inner {
  width: 120px;
  height: 120px;
  border-radius:50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.15),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7);
}

#num {
  font-weight: 500;
  font-size: 25px;
  color: #11101d;
}

.c1 {
  fill: none;
  stroke: url(#Gradient);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 118;
}
.c2 {
  fill: none;
  stroke: url(#Gradient);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 339.84;
}
.c3 {
  fill: none;
  stroke: url(#Gradient);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 141.6;
}
.c4 {
  fill: none;
  stroke: url(#Gradient);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 179.36;
}
.c5 {
  fill: none;
  stroke: url(#Gradient);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 320.96;
}

svg{
  position: absolute;
}
.name {
  margin-top:10px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

/* contact section styling start */
.contact .title::after {
  content: "get in touch";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: #11101d;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields.field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 30px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #11101d;
  background: #11101d;
  color: #fff;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: #11101d;
  border: 2px solid crimson;
  background: none;
}

/* Footer section start */
.footer {
  align-items: center;
  display: flex;
  background: #11101d;
  height: 34px;
  justify-content: center;
}

.footer .footer-text {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
}

/* responsive query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0px;
  }
  .circle {
    padding: 10px;
  }
}
@media (max-width: 1104px) {
  .about .about-content .column-left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text2 {
    font-size: 70px;
  }
  .home .home-content .text3 {
    font-size: 35px;
  }
  .home .home-content .social {
    width: 190px;
  }
  .home .home-content a {
    font-size: 25px;
    padding: 8px 8px;
  }
  .home .home-content .workplace{
    margin-top: 25px;
    margin-left: 120px;
    border-radius: 60px;
    border-style: solid;
    width: 140px;
    text-align: center;
    border-color: crimson;
  }
  .home .home-content .workplace a{
    font-size:30px;
    color: crimson;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column-left {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .column-right {
    flex: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column,
  .footer .footer-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .circle {
    padding: 20px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text2 {
    font-size: 60px;
  }
  .home .home-content .text3 {
    font-size: 32px;
  }
  .home .home-content .social{
    width: 190px;
    height: 30px;
  }
  .home .home-content a {
    font-size: 25px;
  }
  .services .serv-content .card,
  .about .about-content .column-right .text,
  .skills .skills-content .column,
  .footer .footer-text {
    width: 100%;
  }
  .home .home-content .workplace{
    margin-top: 25px;
    margin-left: 80px;
    border-radius: 60px;
    border-style: solid;
    width: 140px;
    text-align: center;
    border-color: crimson;
  }
  .home .home-content .workplace a{
    font-size:25px;
    color: crimson;
  }
  .circle{
    display: inline-flexbox;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .home .home-content .text2 {
    font-size: 50px;
  }
  .home .home-content .text3 {
    font-size: 27px;
  }
  .home .home-content .workplace{
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 60px;
    border-style: solid;
    width: 130px;
    text-align: center;
    border-color: crimson;
  }
  .home .home-content .workplace a{
    font-size:20px;
    color: crimson;
  }
  .circle{
    display: flex;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }
  .name {
    margin-left: 30px;
  }
}